@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Myriad Regular';
    src: url(/src/assets/fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: 'Made Light';
    src: url(/src/assets/fonts/MADEOuter.otf);
}

@font-face {
    font-family: 'Myriad SemiBold';
    src: url(/src/assets/fonts/MYRIADPRO-SEMIBOLD.OTF);
}

@font-face {
    font-family: 'Myriad Bold';
    src: url(/src/assets/fonts/MYRIADPRO-BOLD.OTF);
}

.menu-gradiente {

    background-image: url(https://uploaddeimagens.com.br/images/003/938/346/full/bg-menu.png?1657627529);
    background-size: fill;
}

.styled-scrollbar::-webkit-scrollbar
{

    background-color: transparent;
    height: 3px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {

    background-color: #006CC9;
    border-radius: 100px;

}

.styled-scrollbar::-webkit-scrollbar-track {

    background: rgba(128, 128, 128, 0.149);
    opacity: 0.3;
}

.styled-scrollbar::-webkit-scrollbar-button:start:decrement,
.styled-scrollbar::-webkit-scrollbar-button:end:increment  {
	display: block;
}

.styled-scrollbar {

    scrollbar-color: #006CC9;
    scrollbar-width: thin;
}

.bg-modal {

    background-image: url(/src/assets/images/home/bg-modal.png);
    background-size: cover;
    background-position: center;
    
}

.bg-footerbanner {

    background-image: url(https://uploaddeimagens.com.br/images/003/943/670/full/Grupo_1153.png?1657906592);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel {

    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: transparent;
    
    
}

.carousel::-webkit-scrollbar {

    display: none;
}

.shadow-card {

    box-shadow: 0px 3px 15px #0000000b;
}

.article-gradient {

    background-image: linear-gradient(to right, #b30c13, #bb2c21, #c2402e, #c9523c, #cf624b);
}

@keyframes arrowAnima {

    0% {
        transform: translateX(10px);
    }

    100% {

        transform: translateX(0px);

    }
}

.group:hover .group-hover {

    animation: arrowAnima 1s infinite alternate-reverse;
}

html {

    font-size: 100%;
    scroll-behavior: smooth;
}

body {

    scroll-behavior: smooth;
}

@media screen and (max-width: 1558px) {
    
    html {
        
        font-size: 90%;

    }
}

@media screen and (max-width: 1280px) {
    
    html {

        font-size: 85%;
    }
}

